## 1. 데이터 불러오기

In [ ]:
# 구글 코랩 드라이브 마운트 
# 매번 파일 업로드할 필요 없이 구글드라이브에서 바로 파일을 가져올 수 있음 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 액셀 데이터 불러오기
# 온습도 데이터 시트 불러오기  
import numpy as np 
import pandas as pd 

#df = pd.read_excel(io='data.xlsx', sheet_name = 'data')
df = pd.read_excel(io='/content/drive/MyDrive/프로젝트범블비 데이터플젝 /data.xlsx', sheet_name = 'data')
df.head()

,순번,시간,Unnamed: 2,태그,Unnamed: 4,태그명,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,9,2022-07-14 16:00:00,NaN,TC1_HUMI,NaN,60.2,2022-07-14 16:00:00,NaN,TC1_TEMP,NaN,32.1
1,10,2022-07-14 18:00:00,NaN,TC1_HUMI,NaN,55.0,2022-07-14 18:00:00,NaN,TC1_TEMP,NaN,31.0
2,11,2022-07-14 20:00:00,NaN,TC1_HUMI,NaN,53.7,2022-07-14 20:00:00,NaN,TC1_TEMP,NaN,30.1
3,12,2022-07-14 22:00:00,NaN,TC1_HUMI,NaN,56.3,2022-07-14 22:00:00,NaN,TC1_TEMP,NaN,29.8
4,13,2022-07-15 00:00:00,NaN,TC1_HUMI,NaN,59.4,2022-07-15 00:00:00,NaN,TC1_TEMP,NaN,29.2

In [ ]:
df.columns

Index(['순번', '시간', 'Unnamed: 2', '태그', 'Unnamed: 4', '태그명', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [ ]:
# 열 이름을 데이터에 맞게 변경 
df.rename(columns={'태그':'HUMI', '태그명':'습도','Unnamed: 6':'시간2','Unnamed: 8':'TEMP', 'Unnamed: 10':'온도'}, inplace=True) 
df

,순번,시간,Unnamed: 2,HUMI,Unnamed: 4,습도,시간2,Unnamed: 7,TEMP,Unnamed: 9,온도
0,9,2022-07-14 16:00:00,NaN,TC1_HUMI,NaN,60.2,2022-07-14 16:00:00,NaN,TC1_TEMP,NaN,32.1
1,10,2022-07-14 18:00:00,NaN,TC1_HUMI,NaN,55.0,2022-07-14 18:00:00,NaN,TC1_TEMP,NaN,31.0
2,11,2022-07-14 20:00:00,NaN,TC1_HUMI,NaN,53.7,2022-07-14 20:00:00,NaN,TC1_TEMP,NaN,30.1
3,12,2022-07-14 22:00:00,NaN,TC1_HUMI,NaN,56.3,2022-07-14 22:00:00,NaN,TC1_TEMP,NaN,29.8
4,13,2022-07-15 00:00:00,NaN,TC1_HUMI,NaN,59.4,2022-07-15 00:00:00,NaN,TC1_TEMP,NaN,29.2
...,...,...,...,...,...,...,...,...,...,...,...
1083,1092,2022-10-12 22:00:00,NaN,TC1_HUMI,NaN,46.1,2022-10-12 22:00:00,NaN,TC1_TEMP,NaN,23.1
1084,1093,2022-10-13 00:00:00,NaN,TC1_HUMI,NaN,46.5,2022-10-13 00:00:00,NaN,TC1_TEMP,NaN,22.8
1085,1094,2022-10-13 02:00:00,NaN,TC1_HUMI,NaN,47.3,2022-10-13 02:00:00,NaN,TC1_TEMP,NaN,22.4
1086,1095,2022-10-13 04:00:00,NaN,TC1_HUMI,NaN,47.6,2022-10-13 04:00:00,NaN,TC1_TEMP,NaN,22.5
1087,1096,2022-10-13 06:00:00,NaN,TC1_HUMI,NaN,47.0,2022-10-13 06:00:00,NaN,TC1_TEMP,NaN,22.0

In [ ]:
# 필요 없는 열은 제거 
df.drop(['Unnamed: 2', 'Unnamed: 4', 'Unnamed: 7', '시간2','Unnamed: 9'], axis=1, inplace=True) 
df.columns

Index(['순번', '시간', 'HUMI', '습도', 'TEMP', '온도'], dtype='object')

In [ ]:
# 데이터를 맨 앞에서부터 5개 행 출력 
df.head()

   순번                  시간      HUMI    습도      TEMP    온도
0   9 2022-07-14 16:00:00  TC1_HUMI  60.2  TC1_TEMP  32.1
1  10 2022-07-14 18:00:00  TC1_HUMI  55.0  TC1_TEMP  31.0
2  11 2022-07-14 20:00:00  TC1_HUMI  53.7  TC1_TEMP  30.1
3  12 2022-07-14 22:00:00  TC1_HUMI  56.3  TC1_TEMP  29.8
4  13 2022-07-15 00:00:00  TC1_HUMI  59.4  TC1_TEMP  29.2

In [ ]:
# 33619-N7 데이터 불러오기 
n7 = pd.read_excel(io='/content/drive/MyDrive/프로젝트범블비 데이터플젝 /data.xlsx', sheet_name = '33619-N7')
n7

,배치번호,배합번호,검사일자,T10_스펙,T10,T90_스펙,T90,무늬_스펙,무늬
0,1,33619-N7FMB,2022-10-12,220±40,326.0,410±80,510.0,55±10,56.9
1,3,33619-N7FMB,2022-10-12,220±40,291.0,410±80,407.0,NaN,57
2,12,33619-N7FMB,2022-10-12,220±40,325.0,410±80,469.0,NaN,NaN
3,18,33619-N7FMB,2022-10-12,220±40,323.0,410±80,500.0,NaN,NaN
4,24,33619-N7FMB,2022-10-12,220±40,330.0,410±80,468.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
394,3,33619-N7FMB,2022-07-18,220±40,310.0,410±80,453.0,NaN,57.7
395,21,33619-N7FMB,2022-07-14,220±40,313.0,410±80,453.0,NaN,
396,24,33619-N7FMB,2022-07-14,220±40,309.0,410±80,435.0,NaN,55
397,27,33619-N7FMB,2022-07-14,220±40,318.0,410±80,435.0,NaN,55.4
398,30,33619-N7FMB,2022-07-14,220±40,324.0,410±80,453.0,NaN,55

In [ ]:
# 3307-N 데이터 불러오기 
n = pd.read_excel(io='/content/drive/MyDrive/프로젝트범블비 데이터플젝 /data.xlsx', sheet_name = '3307-N')
n.head()

   배치번호       배합번호       검사일자  T10_스펙    T10   T90_스펙    T90  무늬_스펙    무늬
0    15  3307-NFMB 2022-10-11  330±40    NaN  710±100    NaN  75±10   NaN
1     1  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  89.2
2     5  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  90.9
3    10  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  94.6
4     0  3307-NFMB 2022-10-10  330±40  448.0  710±100  787.0    NaN   NaN

In [ ]:
#range(data.shape[0]-1, -1)
#range(data.shape[0]-1, -1, -1)
#list(range(data.shape[0]-1, -1, -1))
#r_idx = [i for i in range(data.shape[0]-1, -1, -1)]

## 데이터 전처리 (data preprocessing)

### 데이터 역순으로 정렬   

검사 일자 별 데이터 구성을 취하고자 함   
날짜 순 데이터 구성을 위해 N7과 N은 데이터를 역순으로 만들어야 함   
액셀 데이터 내에서는 날짜 역순으로 정렬되어 있음

In [ ]:
# 인덱스 값 398부터 -1까지 포함하지 않는 범위 생성 
range(n7.shape[0]-1, -1)

range(398, -1)

In [ ]:
# range 범위 다음에 -1 을 넣으면 역순으로 데이터를 이해함 
range(n7.shape[0]-1, -1, -1)

range(398, -1, -1)

In [ ]:
# 역순 리스트 변수 생성 
r_idk = [i for i in range(n7.shape[0]-1,-1,-1)]

In [ ]:
# index에 역순으로 만든 index 리스트를 넣어준다 
# 데이터가 거꾸로 정렬됨을 확인 
n7 = pd.DataFrame(n7, index=r_idk)
n7

,배치번호,배합번호,검사일자,T10_스펙,T10,T90_스펙,T90,무늬_스펙,무늬
398,30,33619-N7FMB,2022-07-14,220±40,324.0,410±80,453.0,NaN,55
397,27,33619-N7FMB,2022-07-14,220±40,318.0,410±80,435.0,NaN,55.4
396,24,33619-N7FMB,2022-07-14,220±40,309.0,410±80,435.0,NaN,55
395,21,33619-N7FMB,2022-07-14,220±40,313.0,410±80,453.0,NaN,
394,3,33619-N7FMB,2022-07-18,220±40,310.0,410±80,453.0,NaN,57.7
...,...,...,...,...,...,...,...,...,...
4,24,33619-N7FMB,2022-10-12,220±40,330.0,410±80,468.0,NaN,NaN
3,18,33619-N7FMB,2022-10-12,220±40,323.0,410±80,500.0,NaN,NaN
2,12,33619-N7FMB,2022-10-12,220±40,325.0,410±80,469.0,NaN,NaN
1,3,33619-N7FMB,2022-10-12,220±40,291.0,410±80,407.0,NaN,57
0,1,33619-N7FMB,2022-10-12,220±40,326.0,410±80,510.0,55±10,56.9

In [ ]:
# index 초기화 
n7=n7.reset_index(drop=True) 
n7

,배치번호,배합번호,검사일자,T10_스펙,T10,T90_스펙,T90,무늬_스펙,무늬
0,30,33619-N7FMB,2022-07-14,220±40,324.0,410±80,453.0,NaN,55
1,27,33619-N7FMB,2022-07-14,220±40,318.0,410±80,435.0,NaN,55.4
2,24,33619-N7FMB,2022-07-14,220±40,309.0,410±80,435.0,NaN,55
3,21,33619-N7FMB,2022-07-14,220±40,313.0,410±80,453.0,NaN,
4,3,33619-N7FMB,2022-07-18,220±40,310.0,410±80,453.0,NaN,57.7
...,...,...,...,...,...,...,...,...,...
394,24,33619-N7FMB,2022-10-12,220±40,330.0,410±80,468.0,NaN,NaN
395,18,33619-N7FMB,2022-10-12,220±40,323.0,410±80,500.0,NaN,NaN
396,12,33619-N7FMB,2022-10-12,220±40,325.0,410±80,469.0,NaN,NaN
397,3,33619-N7FMB,2022-10-12,220±40,291.0,410±80,407.0,NaN,57
398,1,33619-N7FMB,2022-10-12,220±40,326.0,410±80,510.0,55±10,56.9

위와 같은 방법으로 N 데이터도 진행

In [ ]:
range(n.shape[0]-1, -1)
#range(data.shape[0]-1, -1, -1)
#list(range(data.shape[0]-1, -1, -1))
#r_idx = [i for i in range(data.shape[0]-1, -1, -1)]

range(169, -1)

In [ ]:
range(n.shape[0]-1, -1, -1)

range(169, -1, -1)

In [ ]:
r_idx_n = [i for i in range(n.shape[0]-1, -1, -1)]

In [ ]:
n = pd.DataFrame(n, index=r_idx_n)
n

     배치번호       배합번호       검사일자  T10_스펙    T10   T90_스펙    T90  무늬_스펙    무늬
169    25  3318-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.8
168    15  3317-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  96.1
167     5  3316-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  95.2
166     1  3315-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.6
165     9  3314-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  73.5
..    ...        ...        ...     ...    ...      ...    ...    ...   ...
4       0  3307-NFMB 2022-10-10  330±40  448.0  710±100  787.0    NaN   NaN
3      10  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  94.6
2       5  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  90.9
1       1  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  89.2
0      15  3307-NFMB 2022-10-11  330±40    NaN  710±100    NaN  75±10   NaN

[170 rows x 9 columns]

In [ ]:
n=n.reset_index(drop=True) 
n

     배치번호       배합번호       검사일자  T10_스펙    T10   T90_스펙    T90  무늬_스펙    무늬
0      25  3318-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.8
1      15  3317-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  96.1
2       5  3316-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  95.2
3       1  3315-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.6
4       9  3314-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  73.5
..    ...        ...        ...     ...    ...      ...    ...    ...   ...
165     0  3307-NFMB 2022-10-10  330±40  448.0  710±100  787.0    NaN   NaN
166    10  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  94.6
167     5  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  90.9
168     1  3307-NCMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  89.2
169    15  3307-NFMB 2022-10-11  330±40    NaN  710±100    NaN  75±10   NaN

[170 rows x 9 columns]

### 범위 벗어난 행/열 제거

In [ ]:
# 온습도 데이터 맨 뒷부분 10개 데이터 학인 
df.tail(10)

        순번                  시간      HUMI    습도      TEMP    온도
1078  1087 2022-10-12 12:00:00  TC1_HUMI  42.5  TC1_TEMP  23.9
1079  1088 2022-10-12 14:00:00  TC1_HUMI  42.7  TC1_TEMP  24.1
1080  1089 2022-10-12 16:00:00  TC1_HUMI  42.7  TC1_TEMP  25.4
1081  1090 2022-10-12 18:00:00  TC1_HUMI  43.2  TC1_TEMP  24.1
1082  1091 2022-10-12 20:00:00  TC1_HUMI  44.4  TC1_TEMP  23.3
1083  1092 2022-10-12 22:00:00  TC1_HUMI  46.1  TC1_TEMP  23.1
1084  1093 2022-10-13 00:00:00  TC1_HUMI  46.5  TC1_TEMP  22.8
1085  1094 2022-10-13 02:00:00  TC1_HUMI  47.3  TC1_TEMP  22.4
1086  1095 2022-10-13 04:00:00  TC1_HUMI  47.6  TC1_TEMP  22.5
1087  1096 2022-10-13 06:00:00  TC1_HUMI  47.0  TC1_TEMP  22.0

In [ ]:
# 2022-10-13은 T10/T90/무늬 데이터에 없는 날짜로 제거 한다   
df = df.drop([1084,1085,1086,1087], axis=0)
df

        순번                  시간      HUMI    습도      TEMP    온도
0        9 2022-07-14 16:00:00  TC1_HUMI  60.2  TC1_TEMP  32.1
1       10 2022-07-14 18:00:00  TC1_HUMI  55.0  TC1_TEMP  31.0
2       11 2022-07-14 20:00:00  TC1_HUMI  53.7  TC1_TEMP  30.1
3       12 2022-07-14 22:00:00  TC1_HUMI  56.3  TC1_TEMP  29.8
4       13 2022-07-15 00:00:00  TC1_HUMI  59.4  TC1_TEMP  29.2
...    ...                 ...       ...   ...       ...   ...
1079  1088 2022-10-12 14:00:00  TC1_HUMI  42.7  TC1_TEMP  24.1
1080  1089 2022-10-12 16:00:00  TC1_HUMI  42.7  TC1_TEMP  25.4
1081  1090 2022-10-12 18:00:00  TC1_HUMI  43.2  TC1_TEMP  24.1
1082  1091 2022-10-12 20:00:00  TC1_HUMI  44.4  TC1_TEMP  23.3
1083  1092 2022-10-12 22:00:00  TC1_HUMI  46.1  TC1_TEMP  23.1

[1084 rows x 6 columns]

In [ ]:
# 팀회의서 합의된 부분: FMB만 진행하고 CMB는 데이터 분석에 포함하지 않기로 함 
# 배합번호에 CMB가 들어간 데이터를 제거한다 
cmb = n[n['배합번호'].str.contains('CMB')].index
n.drop(cmb, inplace=True) 
n

     배치번호       배합번호       검사일자  T10_스펙    T10   T90_스펙    T90  무늬_스펙    무늬
0      25  3318-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.8
1      15  3317-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  96.1
2       5  3316-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  95.2
3       1  3315-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.6
4       9  3314-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  73.5
..    ...        ...        ...     ...    ...      ...    ...    ...   ...
162     6  3307-NFMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  72.8
163     3  3307-NFMB 2022-10-10  330±40  449.0  710±100  782.0    NaN  72.3
164     1  3307-NFMB 2022-10-10  330±40  427.0  710±100  774.0    NaN    71
165     0  3307-NFMB 2022-10-10  330±40  448.0  710±100  787.0    NaN   NaN
169    15  3307-NFMB 2022-10-11  330±40    NaN  710±100    NaN  75±10   NaN

[151 rows x 9 columns]

In [ ]:
# 배합번호에 CMB가 포함된 데이터가 제거 되어 인덱스를 살펴보면 
# 165 이후 169로 나타난다 (위에 데이터 확인)
# 이에 index 재정렬  
n.reset_index(drop=True, inplace=True)
n

     배치번호       배합번호       검사일자  T10_스펙    T10   T90_스펙    T90  무늬_스펙    무늬
0      25  3318-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.8
1      15  3317-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  96.1
2       5  3316-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  95.2
3       1  3315-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.6
4       9  3314-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  73.5
..    ...        ...        ...     ...    ...      ...    ...    ...   ...
146     6  3307-NFMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  72.8
147     3  3307-NFMB 2022-10-10  330±40  449.0  710±100  782.0    NaN  72.3
148     1  3307-NFMB 2022-10-10  330±40  427.0  710±100  774.0    NaN    71
149     0  3307-NFMB 2022-10-10  330±40  448.0  710±100  787.0    NaN   NaN
150    15  3307-NFMB 2022-10-11  330±40    NaN  710±100    NaN  75±10   NaN

[151 rows x 9 columns]

In [ ]:
# 데이터 확인 
print(n7)
print(n)
print(df)

     배치번호         배합번호       검사일자  T10_스펙    T10  T90_스펙    T90  무늬_스펙  \
0      30  33619-N7FMB 2022-07-14  220±40  324.0  410±80  453.0    NaN
1      27  33619-N7FMB 2022-07-14  220±40  318.0  410±80  435.0    NaN
2      24  33619-N7FMB 2022-07-14  220±40  309.0  410±80  435.0    NaN
3      21  33619-N7FMB 2022-07-14  220±40  313.0  410±80  453.0    NaN
4       3  33619-N7FMB 2022-07-18  220±40  310.0  410±80  453.0    NaN
..    ...          ...        ...     ...    ...     ...    ...    ...
394    24  33619-N7FMB 2022-10-12  220±40  330.0  410±80  468.0    NaN
395    18  33619-N7FMB 2022-10-12  220±40  323.0  410±80  500.0    NaN
396    12  33619-N7FMB 2022-10-12  220±40  325.0  410±80  469.0    NaN
397     3  33619-N7FMB 2022-10-12  220±40  291.0  410±80  407.0    NaN
398     1  33619-N7FMB 2022-10-12  220±40  326.0  410±80  510.0  55±10

             무늬
0            55
1          55.4
2            55
3
4          57.7
..          ...
394         NaN
395         NaN
396         NaN
397          57
398        56.9

[399 rows x 9 columns]
     배치번호       배합번호       검사일자  T10_스펙    T10   T90_스펙    T90  무늬_스펙    무늬
0      25  3318-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.8
1      15  3317-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  96.1
2       5  3316-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  95.2
3       1  3315-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  92.6
4       9  3314-NFMB 2022-07-21  330±40    NaN  710±100    NaN    NaN  73.5
..    ...        ...        ...     ...    ...      ...    ...    ...   ...
146     6  3307-NFMB 2022-10-10  330±40    NaN  710±100    NaN    NaN  72.8
147     3  3307-NFMB 2022-10-10  330±40  449.0  710±100  782.0    NaN  72.3
148     1  3307-NFMB 2022-10-10  330±40  427.0  710±100  774.0    NaN    71
149     0  3307-NFMB 2022-10-10  330±40  448.0  710±100  787.0    NaN   NaN
150    15  3307-NFMB 2022-10-11  330±40    NaN  710±100    NaN  75±10   NaN

[151 rows x 9 columns]
        순번                  시간      HUMI    습도      TEMP    온도
0        9 2022-07-14 16:00:00  TC1_HUMI  60.2  TC1_TEMP  32.1
1       10 2022-07-14 18:00:00  TC1_HUMI  55.0  TC1_TEMP  31.0
2       11 2022-07-14 20:00:00  TC1_HUMI  53.7  TC1_TEMP  30.1
3       12 2022-07-14 22:00:00  TC1_HUMI  56.3  TC1_TEMP  29.8
4       13 2022-07-15 00:00:00  TC1_HUMI  59.4  TC1_TEMP  29.2
...    ...                 ...       ...   ...       ...   ...
1079  1088 2022-10-12 14:00:00  TC1_HUMI  42.7  TC1_TEMP  24.1
1080  1089 2022-10-12 16:00:00  TC1_HUMI  42.7  TC1_TEMP  25.4
1081  1090 2022-10-12 18:00:00  TC1_HUMI  43.2  TC1_TEMP  24.1
1082  1091 2022-10-12 20:00:00  TC1_HUMI  44.4  TC1_TEMP  23.3
1083  1092 2022-10-12 22:00:00  TC1_HUMI  46.1  TC1_TEMP  23.1

[1084 rows x 6 columns]

### 데이터 스펙 

**33619-N7** 

T10_ 220±40  
T90_410±80  
무늬_55±10  
  

  
  
**3307-N**  

T10_330±40  
T90_710±100  
무늬_75±10

### 열 데이터 정리

In [ ]:
# 불필요한 column 제거 

n7.drop(['T10_스펙', 'T90_스펙', '무늬_스펙'], axis=1, inplace=True) 
print(n7)

n.drop(['T10_스펙', 'T90_스펙', '무늬_스펙'], axis=1, inplace=True)
print(n)

     배치번호         배합번호       검사일자    T10    T90          무늬
0      30  33619-N7FMB 2022-07-14  324.0  453.0          55
1      27  33619-N7FMB 2022-07-14  318.0  435.0        55.4
2      24  33619-N7FMB 2022-07-14  309.0  435.0          55
3      21  33619-N7FMB 2022-07-14  313.0  453.0
4       3  33619-N7FMB 2022-07-18  310.0  453.0        57.7
..    ...          ...        ...    ...    ...         ...
394    24  33619-N7FMB 2022-10-12  330.0  468.0         NaN
395    18  33619-N7FMB 2022-10-12  323.0  500.0         NaN
396    12  33619-N7FMB 2022-10-12  325.0  469.0         NaN
397     3  33619-N7FMB 2022-10-12  291.0  407.0          57
398     1  33619-N7FMB 2022-10-12  326.0  510.0        56.9

[399 rows x 6 columns]
     배치번호       배합번호       검사일자    T10    T90    무늬
0      25  3318-NFMB 2022-07-21    NaN    NaN  92.8
1      15  3317-NFMB 2022-07-21    NaN    NaN  96.1
2       5  3316-NFMB 2022-07-21    NaN    NaN  95.2
3       1  3315-NFMB 2022-07-21    NaN    NaN  92.6
4       9  3314-NFMB 2022-07-21    NaN    NaN  73.5
..    ...        ...        ...    ...    ...   ...
146     6  3307-NFMB 2022-10-10    NaN    NaN  72.8
147     3  3307-NFMB 2022-10-10  449.0  782.0  72.3
148     1  3307-NFMB 2022-10-10  427.0  774.0    71
149     0  3307-NFMB 2022-10-10  448.0  787.0   NaN
150    15  3307-NFMB 2022-10-11    NaN    NaN   NaN

[151 rows x 6 columns]

In [ ]:
# 온습도 데이터 확인
df

        순번                  시간      HUMI    습도      TEMP    온도
0        9 2022-07-14 16:00:00  TC1_HUMI  60.2  TC1_TEMP  32.1
1       10 2022-07-14 18:00:00  TC1_HUMI  55.0  TC1_TEMP  31.0
2       11 2022-07-14 20:00:00  TC1_HUMI  53.7  TC1_TEMP  30.1
3       12 2022-07-14 22:00:00  TC1_HUMI  56.3  TC1_TEMP  29.8
4       13 2022-07-15 00:00:00  TC1_HUMI  59.4  TC1_TEMP  29.2
...    ...                 ...       ...   ...       ...   ...
1079  1088 2022-10-12 14:00:00  TC1_HUMI  42.7  TC1_TEMP  24.1
1080  1089 2022-10-12 16:00:00  TC1_HUMI  42.7  TC1_TEMP  25.4
1081  1090 2022-10-12 18:00:00  TC1_HUMI  43.2  TC1_TEMP  24.1
1082  1091 2022-10-12 20:00:00  TC1_HUMI  44.4  TC1_TEMP  23.3
1083  1092 2022-10-12 22:00:00  TC1_HUMI  46.1  TC1_TEMP  23.1

[1084 rows x 6 columns]

In [ ]:
# 온습도 데이터 컬럼별 데이터타입 확인
df.dtypes

순번               int64
시간      datetime64[ns]
HUMI            object
습도             float64
TEMP            object
온도             float64
dtype: object

In [ ]:
# 시간데이터를 날짜 컬럼, 시간 컬럼으로 분리 
#df['검사일자'] = [d.date() for d in df['시간']]
#df['시간'] = [d.time() for d in df['시간']] 

df['검사일자'] = df['시간'].dt.date 
df['시간'] = df['시간'].dt.time
df.dtypes

순번        int64
시간       object
HUMI     object
습도      float64
TEMP     object
온도      float64
검사일자     object
dtype: object

In [ ]:
# 온습도 데이터 확인 
df

        순번        시간      HUMI    습도      TEMP    온도        검사일자
0        9  16:00:00  TC1_HUMI  60.2  TC1_TEMP  32.1  2022-07-14
1       10  18:00:00  TC1_HUMI  55.0  TC1_TEMP  31.0  2022-07-14
2       11  20:00:00  TC1_HUMI  53.7  TC1_TEMP  30.1  2022-07-14
3       12  22:00:00  TC1_HUMI  56.3  TC1_TEMP  29.8  2022-07-14
4       13  00:00:00  TC1_HUMI  59.4  TC1_TEMP  29.2  2022-07-15
...    ...       ...       ...   ...       ...   ...         ...
1079  1088  14:00:00  TC1_HUMI  42.7  TC1_TEMP  24.1  2022-10-12
1080  1089  16:00:00  TC1_HUMI  42.7  TC1_TEMP  25.4  2022-10-12
1081  1090  18:00:00  TC1_HUMI  43.2  TC1_TEMP  24.1  2022-10-12
1082  1091  20:00:00  TC1_HUMI  44.4  TC1_TEMP  23.3  2022-10-12
1083  1092  22:00:00  TC1_HUMI  46.1  TC1_TEMP  23.1  2022-10-12

[1084 rows x 7 columns]

In [ ]:
# 검사일자 열을 순번 열 앞으로 옮기고자 함 
# 컬럼 이름을 numpy array로 정렬
col = df.columns.to_numpy() 
col

array(['순번', '시간', 'HUMI', '습도', 'TEMP', '온도', '검사일자'], dtype=object)

In [ ]:
# 인덱스 숫자 순서를 바꿔 컬럼 순서 변경 
col = col[[0,6,1,2,3,4,5]] 
col

array(['순번', '검사일자', '시간', 'HUMI', '습도', 'TEMP', '온도'], dtype=object)

In [ ]:
# 온습도 데이터 확인 
df = df[col]
df

        순번        검사일자        시간      HUMI    습도      TEMP    온도
0        9  2022-07-14  16:00:00  TC1_HUMI  60.2  TC1_TEMP  32.1
1       10  2022-07-14  18:00:00  TC1_HUMI  55.0  TC1_TEMP  31.0
2       11  2022-07-14  20:00:00  TC1_HUMI  53.7  TC1_TEMP  30.1
3       12  2022-07-14  22:00:00  TC1_HUMI  56.3  TC1_TEMP  29.8
4       13  2022-07-15  00:00:00  TC1_HUMI  59.4  TC1_TEMP  29.2
...    ...         ...       ...       ...   ...       ...   ...
1079  1088  2022-10-12  14:00:00  TC1_HUMI  42.7  TC1_TEMP  24.1
1080  1089  2022-10-12  16:00:00  TC1_HUMI  42.7  TC1_TEMP  25.4
1081  1090  2022-10-12  18:00:00  TC1_HUMI  43.2  TC1_TEMP  24.1
1082  1091  2022-10-12  20:00:00  TC1_HUMI  44.4  TC1_TEMP  23.3
1083  1092  2022-10-12  22:00:00  TC1_HUMI  46.1  TC1_TEMP  23.1

[1084 rows x 7 columns]

In [ ]:
df.dtypes

순번        int64
검사일자     object
시간       object
HUMI     object
습도      float64
TEMP     object
온도      float64
dtype: object